name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-test:
    name: Build and Test
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Swift
        uses: swift-actions/setup-swift@v2
        with:
          swift-version: "6.0"

      - name: Set up Just
        uses: extractions/setup-just@v3

      - name: Version
        run: just version

      - name: Build
        run: just debug "-Xswiftc -Xfrontend -Xswiftc -disable-round-trip-debug-types"

      - name: Test
        run: just test "-Xswiftc -Xfrontend -Xswiftc -disable-round-trip-debug-types"

      - name: "Lint: Swift"
        continue-on-error: true
        uses: cirruslabs/swiftlint-action@v1
        with:
          version: latest
          args: "--config .swiftlint.yml"

      - name: "Lint: Commits"
        uses: cocogitto/cocogitto-action@v3
        with:
          command: check
          args: --from-latest-tag

      - name: Format
        run: swiftformat --lint --reporter github-actions-log .
