name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-test:
    name: Build and Test
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v6

      - name: Setup tools
        uses: jdx/mise-action@v3
        with:
          install: true
          github_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Version
        run: mise run version

      - name: Check
        run: mise run check-all

      - name: Build
        run: mise run debug

      - name: Test
        run: mise run test
